#videoList {
  width: 100%;
  overflow: auto;
  .videoUl {
   white-space: nowrap;
    .videoLi {
      display: inline-block;
      position: relative;
      height: 140px;
      img {
        width: 80vw;
        margin-left: 10px;
      }
      .icon-bofang{
        color: #fff;
        position: absolute;
        top:50%;
        left: 50%;
        font-size: 32px;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
  }
}