#videoList {
  width: 100%;
  overflow: auto;
  ::-webkit-scrollbar{
    display: none;
  }
  .videoUl {
   white-space: nowrap;
    .videoLi {
      display: inline-block;
      position: relative;
      img {
        width: 80vw;
        margin-left: .1rem;
      }
    }
  }
}