#detil {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  z-index: 100;
  .detil_content {
    margin-top: 55px;
    height: calc(~"100% - 55px");
    > img {
      width: 100%;
      height: 200px;
      display: block;
    }
    .detil-tab {
      height: calc(~"100% - 245px");
      overflow: hidden;
    }
    .detil_content_bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      height: 45px;
      line-height: 45px;
      background-color: #fff;
      .detil_content_bottom_left {
        width: calc(~"100% - 160px");
        padding-left: 10px;
        box-sizing: border-box;
        box-shadow: 0 0px 2px rgba(0,0,0,0.1);
        .price{
          color: #4263E2;
          font-size: 16px;
          letter-spacing: 1px;
        }
        .free{
          color: #06BC71;
          font-size: 15px;
        }
        .personBuy{
          float: right;
          padding-right: 12px;
        }

      }
      .detil_content_bottom_right {
        background-color: #3672ED;
        width: 160px;
        line-height: 45px;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
      }
    }
  }
}