.detil-tab-item {
    &.courseDetail{
      .whiteBg{
        background-color: #fff;
        padding: 0 .1rem;
      }
      .title{
        font-size: .16rem;
        padding-top: .14rem;
      }
        .topCont{
          padding: .12rem .11rem;
          font-size: .13rem;
          &>div{
            padding-bottom: .12rem;
            line-height: 1;
            span{
              padding-right: .2rem;
            }
            .studyNum{
              position: relative;
              margin-right: .2rem;
              &::after{
                content: "";
                height: 80%;
                width: 1px;
                position: absolute;
                left: auto;
                right: 0;
                top: 50%;
                bottom: auto;
                background-color: #7A809B;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
              }
            }
            &:last-child{
              padding-bottom: 0;
            }
          }
        }
      .teachDec{
        padding-bottom: .1rem;
        img{
          width: .35rem;
          height: .35rem;
          border-radius: 50%;
        }
        .teach_item{
          padding-top: .15rem;
          .userName{
            font-size: .14rem;
            padding-bottom: .07rem;
          }
          .text{
            font-size: .12rem;
            line-height: 1.6;
          }
        }
        .right{
          width: calc(~"100% - .35rem");
          padding-left: .1rem;
        }
      }
      .courseDec{
        padding-bottom: .26rem;
        .text{
          padding-top: .07rem;
          line-height: 1.6;
        }
      }
    }
    &.courseList{
    .line_public{
      padding: .12rem 0 .1rem;
      &:last-child::after{
        display: none;
      }
    }
    .num{
      padding-left: .1rem;
      width: .3rem;
      font-size: .14rem;

    }
    .textCont{
      width: calc(~"100% - .3rem");
      .title_color{
        font-size: .14rem;
        padding-bottom: .1rem;
      }
    }
      .status{
        float: right;
        margin-right: .1rem;
        &.icon_record{
          width: .15rem;
          height: .15rem;
          background: url("../../../static/img/icon_record.png") no-repeat left top;
          background-size: .15rem;
        }
        &.icon_live{
          width: .15rem;
          height: .15rem;
          background: url("../../../static/img/icon_live.png") no-repeat left top;
          background-size: .15rem;
        }
        &.icon_playBack{
          width: .15rem;
          height: .15rem;
          background: url("../../../static/img/icon_playBack.png") no-repeat left top;
          background-size: .15rem;
        }
      }
  }
  .core{
    padding: .1rem;
    text-align: center;
    .star{
      line-height: 1.2;
      position: relative;
      margin-bottom: .1rem;
      .title_color{
        font-size: .18rem;
        padding-right: .05rem;
      }
      .iconfont{
        font-size: .2rem;
        color: #FFA734;
        padding-left: .05rem;
      }
    }
    .num{
      font-size: .1rem;
    }
    .editorBtn{
        font-size: .12rem;
        background: url("../../../static/img/icon_next .png") no-repeat right center;
        background-size: .06rem;
        padding-right: .12rem;
        position: absolute;
        right: 0;
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
  }
}