html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #7A809B;
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    outline: none;
    color: black;
  }

  .am-whitespace {
    background-color: #F3F6F9;
  }
}

#root {
  height: 100%;
  > div {
    height: 100%;
  }
  .content_window {
    height: calc(~"100% - 50px");
    width: 100%;
    overflow-y: hidden;
  }

  .content_window_all {
    height: 100%;
    overflow-y: hidden;
  }

  .tab {
    background-color: #fff;
    display: flex;
    height: 50px;
    text-align: center;
    .tab-item {
      flex: 1;
      .nav-link {
        display: block;
        color: inherit;
        text-decoration: none;
      }
      &.tab_myCurriculum{
          i{
            display: inline-block;
            background: url("./Home/img/tab_course.png") no-repeat;
            background-size: 36px;
          }
      }
    }
  }

  .translate-enter {
    transform: translate3d(100%, 0, 0);
    &.translate-enter-active {
      transition: transform .3s;
      transform: translate3d(0, 0, 0);
    }
  }
}