html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #7A809B;
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    outline: none;
    color: #7A809B;
  }

  .am-whitespace {
    background-color: #F3F6F9;
  }
}

#root {
  height: 100%;
  overflow: hidden;
  > div {
    height: 100%;
    overflow: hidden;
  }
  .content_window {
    height: calc(~"100% - .5rem");
    width: 100%;
    overflow-y: hidden;
  }

  .content_window_all {
    height: 100%;
    overflow-y: hidden;
  }

  .tab {
    background-color: #fff;
    display: flex;
    height: .5rem;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50;
    .tab-item {
      flex: 1;
      font-size: .12rem;
      .nav-link {
        display: block;
        color: inherit;
        text-decoration: none;
      }
      i {
        display: block;
        width: .24rem;
        height: .24rem;
        margin: .05rem auto;

      }
      &.tab_course {
        i {
          background: url("../static/img/tab_course.png") no-repeat;
          background-size: 100%;
        }
        &.active {
          color: #3A9BFC;
          i {
            background: url("../static/img/tab_course_active.png") no-repeat;
            background-size: 100%;
          }
        }
      }
      &.tab_myCurriculum {
        i {
          background: url("../static/img/tab_myCurriculum.png") no-repeat;
          background-size: 100%;
        }
        &.active {
          color: #3A9BFC;
          i {
            background: url("../static/img/tab_myCurriculum_active.png") no-repeat;
            background-size: 100%;
          }
        }
      }
      &.tab_person {
        i {
          background: url("../static/img/tab_person.png") no-repeat;
          background-size: 100%;
        }
        &.active {
          color: #3A9BFC;
          i {
            background: url("../static/img/tab_person_active.png") no-repeat;
            background-size: 100%;
          }
        }
      }
    }
  }
  .translate-enter {
    transform: translate3d(100%, 0, 0);
    &.translate-enter-active {
      transition: transform .3s;
      transform: translate3d(0, 0, 0);
    }
  }
  @media screen and (min-width: 768px){
    #home-category .slider-container {
      height: 1.47rem;
    }
    #detil .detil_content .imgDiv{
      height: 2rem;
    }
    #videoList .videoUl .videoLi img{
      width: 40vw;
    }
  }
}
