.tab {
    display: flex;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.tab > .tab-item {
    flex: 1;
}

.tab > .tab-item > .nav-link {
    display: block;
    color: inherit;
    text-decoration: none;
}