#header {
  background-color:rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  padding: 15px 0;
  color: black;
  text-align: center;
  font-size: 18px;
  &.blueBg{
    background-color:#3672ED;
  }
  .header-back {
    position: absolute;
    left: 20px;
    color: #FFFFFF;
    .iconfont {
      font-size: 21px;
      font-weight: bold;
    }
  }
  .header-collect {
    position: absolute;
    right: 20px;
    .iconfont {
      font-size: 17px;
      color: #FFFFFF;
    }
  }
  .header-title {
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}