.myCourse {
  height: 100%;
  .myCourseList_header {
    background-color: #fff;
    text-align: center;
    height: 44px;
    line-height:44px;
    font-size: 18px;
    padding: 0 20px;
    > i {
      float: right;
      font-size: 15px;
      color: #7A809B;
    }
  }

  .myCourseList_content {
    height: calc(~"100% - 55px");
    background-color: #F5F6FA;
  }
}