.item {
  width: 50%;
  padding: 0 .05rem .1rem;
  box-sizing: border-box;
  a{
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .imgDiv{
    position: relative;
    height: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -o-object-fit: cover;
      //background: url("../../../static/img/empty_elearning.jpg") no-repeat center center;
      //background-size: cover;
      display: block;
      overflow: hidden;
    }
    .sign{
      color: #fff;
      font-size: .1rem;
      padding: 0.04rem .09rem 0.02rem;
      background-color: rgba(0,0,0,0.4);
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .textCont{
    padding: .1rem;
    background-color: #fff;
    font-size: .13rem;
    .tagDiv{
      margin: .1rem 0 .05rem;
    }
    .time{
      font-size: .11rem;
      color: #9E9E9E;
      padding-bottom: .04rem;
      .courseNum{
        float: right;
      }
    }
    .textBottom{
      margin-top: .04rem;
      height: .25rem;
      line-height: .25rem;
      overflow: hidden;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -khtml-align-items: center;
      align-items: center;
      justify-content: space-between;
      .free{
        color: #06BC71;
        font-size: .13rem;
      }
      .price{
        color: #444E6F;
        font-size: .13rem;
      }
      .text_color{
        font-size: .13rem;
        line-height: 1.2;
        width: calc(~"100% - .75rem");
      }
    }
    img{
      width: .25rem;
      height: .25rem;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  @media screen and (min-width: 768px){
    .imgDiv{
      height: 1.4rem;
    }
  }
}