.search_header {
  height: .44rem;
  background-color: #fff;
  padding: 0 .45rem 0 .45rem;
  position: relative;
  //box-shadow: 0 1px 1px #E4E4E4;
  .searchr-back {
    position: absolute;
    left: .15rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: .2rem;
    font-weight: bold;
  }
  .search_btn {
    position: absolute;
    right: .15rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: .16rem;
  }
  .search_input {
    width: 100%;
    margin: .13rem auto;
    padding-left: .06rem;
    padding-right: .15rem;
    height: .18rem;
    line-height: .18rem;
    box-sizing: border-box;
    border: 0;
    outline: none;
    color: #7A809B;
    font-size: .14rem;
  }
}