.search_header {
  height: 50px;
  background-color: #fff;
  padding: 0 50px 0 40px;
  position: relative;
  .searchr-back {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
  }
  .search_btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
  }
  .search_input {
    width: 100%;
    margin: 0 auto;
  }
}