#public_header {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: .18rem;
  &.Bg {
    background-color: #fff;
  }
  &.Bs {
    box-shadow: 0 .5px 1px rgba(210, 210, 210, .5);
  }
  &.lineB .headerCont{
    color: #2A3350;
  }
  .headerCont{
    padding: .15rem 0;
    position: relative;
  }
  .header-back {
    position: absolute;
    left: .1rem;
    width: .3rem;
    height: .3rem;
    line-height: .3rem;
    text-align: left;
    top:50%;
    transform: translateY(-50%);
    .iconfont {
      font-size: .22rem;
      font-weight: bold;
    }
  }
  .header-shaixuan {
    position: absolute;
    right: .1rem;
    .iconfont {
      font-size: .22rem;
      font-weight: bold;
    }
  }
  .header-jiaoyi {
    position: absolute;
    right: .10rem;
    font-size: .14rem;
    bottom: .15rem;
  }
  .header-sousuo {
    position: absolute;
    right: .10rem;
    font-size: .14rem;
    top:50%;
    transform: translateY(-50%);
  }
  .header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 1.05rem);
    margin: 0 auto;
  }
}