@import "../../containers/App.less";
#public_header {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  padding: 15px 0;
  color: #2A3350;
  text-align: center;
  font-size: @font18;
  box-shadow: 0 1px 2px #D2D2D2;
  &.Bg {
    background-color: #fff;
  }
  .header-back {
    position: absolute;
    left: 10px;
    .iconfont {
      font-size: @font21;
      font-weight: bold;
    }
  }
  .header-shaixuan {
    position: absolute;
    right: 10px;
    .iconfont {
      font-size: @font22;
      font-weight: bold;
    }
  }
  .header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 105px);
    margin: 0 auto;
  }
}