.tabTitle{
  padding: 15px 10px 20px;
  span{
    font-size: 12px;
    padding-right: 15px;
    &.active{
      color: #2A3350;
      font-size: 13px;
      font-weight: bold;
    }
  }
}
.item_div {
  display: flex;
  flex-wrap: wrap;
}