.tabTitle_index{
  padding: .15rem .1rem .2rem;
  position: relative;
  span{
    font-size: .13rem;
    padding-right: .15rem;
    display: inline-block;
    &.active{
      color: #2A3350;
      font-size: .15rem;
      //font-weight: bold;
    }
  }
  &.noPadding{
    padding: .05rem .1rem .06rem;
    .tabFilter{
      padding-right: 0.1rem;
      bottom: .06rem;
    }
  }
}
.item_div {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .05rem;
}