.user {
  background-color: #fff;
  height: 100%;
  .user_header {
    height: 150px;
    > div {
      position: absolute;
      top: 50px;
      left: 40px;
    }
    > img {
      width: 50px;
      position: absolute;
      right: 25px;
      top: 60px;
      border-radius: 50%;
    }
  }
}