.user {
  height: 100%;
  .user_header {
    height: 1.8rem;
    background: url("../../static/img/icon_personBg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-top: .43rem;
    box-sizing: border-box;
    img {
      width: .66rem;
      height: .66rem;
      border: 5px rgba(255,255,255,.44) solid;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }
    .textCont{
      color: white;
      text-align: center;
      line-height: 1;
      .text_hidden{
        font-size: .15rem;
        margin: 0.08rem 0 0.02rem;
      }
      .idNUm{
        font-size: .14rem;
      }
    }
    @media screen and (min-width: 768px){
      height: 3rem;
      padding-top: 1.0rem;
    }
  }

}