.my_balance {
  height: 100%;
  .balance_content {
    height: 100%;
    padding-top: 74px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .account {
      height: 150px;
    }
    .recharge_btn {
      margin: 0 20px;
    }
  }
}