#home {
  height: 100%;
  .home_content {
    height: calc(~"100% - .64rem");
    .same_title{
      font-size: .18rem;
      padding: .2rem 0 .15rem;
      &.noTop{
        padding-top: .02rem;
      }
      &.noBottom{
        padding-bottom: .05rem;
        position: relative;
        i{
          position: absolute;
          right: .1rem;
          top:.13rem;
          display: block;
          width: .3rem;
          height:.3rem;
          line-height:  .3rem;
          color: #424657;
          font-size: .18rem;
        }
      }
    }
  }
}