body {
    margin: 0;
    padding: 0;
    background-color: #F3F6F9 !important;
    font-size: 14px !important;

}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", "Times New Roman", Georgia, Serif;
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    /*-webkit-user-select: none; !*webkit浏览器*!*/
    /*user-select: none;*/
}
body::-webkit-scrollbar{
    display: none;
}

input {
    outline: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    display: table;
    content: '';
    clear: both;
}

.overflowScroll{
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}

.overflowScroll::-webkit-scrollbar,.am-tabs-pane-wrap::-webkit-scrollbar{
    display: none;
}

.text_color {
    color: #7A809B;
    font-size: .12rem;
}

.title_color {
    color: #2A3350;
}

.font14{
    font-size: .14rem;
}

.font12{
    font-size: .12rem;
}

.text_hidden {
    overflow: hidden; /*超出部分隐藏*/
    white-space: nowrap; /*不换行*/
    text-overflow: ellipsis; /*超出部分文字以...显示*/
    line-height: 1.2;
}

.text_hidden2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.my_flex {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.flex_column{
    display: -webkit-flex; /* Safari */
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.line_public {
    position: relative;
}

.line_public::after {
    content: '';
    position: absolute;
    background-color: #EDEFF9;
    display: block;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.line_public.lineB::after {
    bottom: -1px;
}

.am-list-body {
    border: 0 !important;
}

.am-list-body::before, .am-list-body::after {
    display: none !important;
}

/*tab切换*/
.am-tabs-default-bar-top .am-tabs-default-bar-tab {
    border: 0 !important;
}

.am-tabs-default-bar-underline, .am-tabs-default-bar-tab::after {
    display: none !important;
}

.am-tabs-default-bar-tab {
    height: .4rem !important;
    line-height: .4rem !important;
    font-size: .13rem !important;
}

.am-tabs-default-bar-tab-active {
    color: #3672ED !important;
    font-size: .15rem !important;
}

.am-tabs-default-bar-tab-active::before {
    content: '';
    position: absolute;
    background-color: #3672ED;
    display: block;
    z-index: 1;
    top: auto;
    right: 0;
    bottom: 1px;
    left: 50%;
    width: .15rem;
    height:  2px;
    margin-left: -7.5px;
    border-radius: 1px;
}

.index_tab {
    padding-top: .1rem;
}

.index_tab .am-tabs-default-bar-tab {
    height: .36rem !important;
    line-height: .36rem !important;
    font-size: .18rem !important;
    color: #7A809B !important;
    font-weight: bold;
}

.index_tab .am-tabs-default-bar-tab-active {
    color: #3672ED !important;
    font-size: .18rem !important;
}

.index_tab .am-tabs-default-bar {
    background: none !important;
}

.tabTitle {
    font-size: .13rem;
    background-color: white;
    position: relative;
}

.tabTitle.headTab {
    font-size: .18rem;
}

.tabTitle.headTab span {
    width: 50%;
}

.tabTitle.headTab span.active {
    font-size: .18rem;
    padding-bottom: .05rem;
}

.tabTitle span {
    display: inline-block;
    padding: .06rem .1rem .06rem;
}

.tabTitle span.active {
    color: #3672ED;
    font-size: .15rem;
    position: relative;
}

.tabTitle span.active::after {
    content: '';
    position: absolute;
    background-color: #3672ED;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 1px;
    left: 50%;
    width: .15rem;
    height: 2px;
    margin-left: -.075rem;
    border-radius: 1px;
}

.tabFilter {
    font-size: .13rem;
    position: absolute;
    right: 0;
    line-height: 1;
    bottom: 0;
}

.tabFilter i {
    padding-left: .03rem;
    vertical-align: text-bottom;
    font-size: .14rem;
}

/*标签*/
.tag {
    padding: .02rem .05rem .01rem;
    border: 1px #2C80FF solid;
    color: #2C80FF;
    font-size: .1rem;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
}

.tag.orange {
    border: 1px #EDAB4C solid;
    color: #EDAB4C;
}

.tag.green {
    border: 1px #328466 solid;
    color: #328466;
}

.tag.yellow {
    border: 1px #D6BE8C solid;
    color: #D6BE8C;
}

.grayTag_deep {
    background-color: #D9DFE4;
    font-size: .12rem;
    padding: .08rem .1rem .06rem;
    margin: .05rem;
    display: inline-block;
    line-height: 1;
}


/*遮罩及视频播放按钮*/
.imgMask {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.icon-bofang {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: .32rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*按钮*/
.blueBtn {
    background-color: #3672ED;
    color: #fff;
    line-height: .45rem;
    height: .45rem;
    font-size: .16rem;
    width: 100%;
    display: block;
    text-align: center;
}

.am-button-primary {
    background-color: #108ee9;
}

/*收藏*/
.iconfont.icon-star {
    color: #F5A623 !important;
}

/*立即报名*/
.balance_content_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: .45rem;
    line-height: .45rem;
    background-color: #fff;
    z-index: 101;
}
.balance_content_bottom .balance_content_bottom_left {
    width: calc(100% - 1.6rem);
    padding-left: .1rem;
    box-sizing: border-box;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    font-size: .14rem;
}
.balance_content_bottom .price {
    font-size: .24rem;
    color: #4285F4;
}
.balance_content_bottom .price span{
    font-size: .14rem;
}

.balance_content_bottom .balance_content_bottom_right {
    background-color: #3672ED;
    width: 1.6rem;
    line-height: .45rem;
    text-align: center;
    color: #FFFFFF;
    font-size: .16rem;
}

/*需要定位的页面,为遮住底部栏*/
.positionBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: #F3F6F9;
}

.p14 {
    padding-top: .14rem;
}

.whiteBg {
    background-color: white;
}
