.list_item {
  margin: .01rem;
  display: flex;
  height: 1rem;
  overflow: hidden;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  > img {
    width: 1.73rem;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
  .rightCont{
    width: calc(~"100% - 1.73rem");
    padding: .1rem;
    box-sizing: border-box;
    .title_color{
        font-size: .14rem;
        margin-bottom: .07rem;
    }
    .name{
      margin-top: .09rem;
      span{
        padding-right: .09rem;
        line-height: 1.2;
      }
    }
    .icon_live{
      background: url("../img/icon_live.png") no-repeat left top;
      background-size: .14rem;
      font-size: .1rem;
      color: #3A9BFC;
      padding-left: .18rem;
      margin-top: .1rem;
      line-height: .13rem;

    }
  }
}