.search_content {
  height: calc(~"100% - 94px");
  overflow-y: auto;
  -webkit-overflow-scrolling : touch;
  .topCont{
    padding: 10px 15px;
    overflow: hidden;
    font-size: 13px;
    span:last-child{
      float: right;
    }
  }
  .searchTagCont{
    padding: 0 5px;
  }
}