.search_content {
  height: calc(~"100% - .58rem");
  .topCont {
    padding: .1rem .15rem;
    overflow: hidden;
    font-size: .13rem;
    span:last-child {
      float: right;
    }
  }
  .searchTagCont {
    padding: 0 .05rem;

  }
  .search_response {
    height: calc(~"100% - .42rem");
    padding-top: .1rem;
  }
}