#orderListItem {
  background-color: white;
  padding: .15rem .15rem .12rem;
  margin-bottom: .1rem;
  .orderNum{
    font-size: .14rem;
    overflow: hidden;
    padding-bottom: .12rem;
    .time{
      float: right;
    }
  }
  .title_color{
    font-size: .16rem;
    line-height: .22rem;
    margin: .16rem 0 .09rem;
  }
  .bottom{
    overflow: hidden;
    line-height:.2rem;
    .teacherName{
      font-size: .12rem;
      width: calc(~"100% - .6rem");
      display: inline-block;
      vertical-align: middle;
    }
    .price{
      color: #3672ED;
      font-size: .18rem;
      float: right;
      span{
        font-size: .12rem;
        vertical-align: text-bottom;
      }
    }
    .free{
      float: right;
      color: #06BC71;
      font-size: .17rem;
    }
  }

}