.my_balance {
  .balance_content {
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #F3F6F9;
    .rechargeAmount {
      background-color: #fff;
      padding: .15rem  .1rem;
      margin: .1rem 0 .15rem;
      .title_color {
        font-size: .14rem;
        margin-bottom: .2rem;
      }
      span{
        font-size: .14rem;
        padding: .05rem .2rem .04rem;
        border: 1px #7A809B solid;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-right: .1rem;
        display: block;
        &.active{
          background-color: #3672ED;
          border-color: #3672ED;
          color: white;
        }
      }
    }
  }

}